@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --CorSec: #00356B;
    --CorPrim:#000622;
    --CorText1:white;
    --CorText2:#7F7F7F; 

    --darkmode: true;

    --fonteMontserrat: 'Montserrat', sans-serif;
}



body{
    padding: 50px 100px 50px 100px;
    background-color: var(--CorPrim);
    
    color:var(--CorText1);
}

.cabecalho{
    padding:2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 6rem;/
}

/*para Telas de celulares */

@media screen and (max-width: 650px) {
    

.cabecalho{
    padding:0% 0% 0% 15%;
    margin-left: 0px;
}

.cabecalho_menu{
    display: flex;
    gap: 1rem;
    margin-left: 0px;

}

.cabecalho_menu_link{
    
    font-family: var(--fonteMontserrat);
    font-size: 1.1rem;
    color: var(--CorText2);
    text-decoration: none;  
}

.apresentacao{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: space-between;

}

.apresentacao_conteudo{
    min-width: 85%;
    display: flex;
    flex-direction: column;
    gap: 0rem;

}

}


.cabecalho_menu_link{
    font-family: var(--fonteMontserrat);
    font-size: 1.5rem;
    color: var(--CorText2);
    text-decoration: none;  
}

.cabecalho_menu_link:hover{
    /*color: (--CorText1);*/
    color: var(--CorText1);
    transition: 0.3s;

    border-radius: 1rem;
    border-color: var(--CorSec);
    background-color: var(--CorSec);
    transition: 0.15s;
    
}

.apresentacao{
    padding: 6% 10%;
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
}

.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.apresentacao_links_subtitulo{
    font-family: var(--fontePrincipal);
    color: (--CorText1);
    font-size: 1.5rem;
}


.apresentacao_links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    border: 3px solid var(--CorSec);
    color: (--CorText1);
    font-size: 1.5rem;
    padding: 14px 0;
    text-decoration: none;
    transition: 0.4s;
}

.apresentacao_links_link:hover{
    background-color: var(--CorSec);
    transition: 0.4s;

}


.apresentacao_imagem{
    width: 25rem;    
}

.apresentacao_conteudo_titulo{
    color: (--CorText1);
}


.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.apresentacao_conteudo_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.apresentacao_conteudo_texto{
    font-size: 1.5rem;
    text-align: justify;
}

.DarkBright_imagem{
    max-width: 4rem;
}

.DarkBright_imagem:hover{
    cursor: pointer;
    border-radius: 1rem;
    border-color: var(--CorSec);
    background-color: var(--CorSec);
    transition: 0.15s;
}

.DarkBright_container{
    position: relative;
    top: 90%;
    padding-left: 7rem;
    padding-top: 0rem;
    margin-top: 0rem;
}

.contato_div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    gap:2rem;
}

.contato_direto{
    margin-top: 2rem;
}

.habilidade_img{
    max-width: 10rem;
}

.div_habilidade{
    display: flex;
    align-items: center;
    margin-top: 5rem;

}

.div_habilidade2{
    display: flex;
    align-items: center;
    margin-top: 5rem;

    flex-direction:row-reverse;
}

.div_habilidade_texto{
    justify-content: center;
    align-items: center;

    max-width: 60%;

}

#NeedsSpacing{
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#atual{
    text-decoration: underline;
}







